

/*TABLE OF CONTENTS
--------------------------------------------------------------
- HEADER
- BODY/TEXT
- NAVBAR
- FOOTER
- MARGINS
- LINKS
- FORMS
- MEDIA QUERIES


--------------------------------------------------------------
*/

/*HEADER
--------------------------------------------------------------*/
h1 {
    font-family: "Adobe Caslon Pro";
    margin-bottom: 0rem;
    font-weight: 800;
}

h2 {
    font-family: "Adobe Caslon Pro";
    font-size: 28px;
    font-weight: 600;
}

.landh1 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 250px;
    text-align: left;
}

.landh2 {
    font-family: gillsans;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    color: #999;
    text-align: left;
    margin-top: -10px;
}

/*BODY/TEXT
--------------------------------------------------------------*/
body { 
    font-family: "Adobe Caslon Pro";
    font-size: 1.7em;
    line-height: 1.4; /* decreased from 1.6*/
}

p {margin-bottom:10px;}

.sideCaption {margin-top: 20%;}

#jfksite {text-decoration: underline;}

/*IMAGES
--------------------------------------------------------------*/
img {
    max-width: 100%;
    object-fit: cover;
}

#headshot {
    width: 350px;
    height: 350px;
    margin-top: 5%;
}

.circle { 
/*    height = width;*/
    border-radius: 50%; 
}

.cover:hover {opacity: .5;}

.project {
    margin-left: 50%;
    margin-right: 12%;
}

/*NAVBAR
--------------------------------------------------------------*/
nav {
    margin-top: 10px;
    margin-bottom: 70px;
}

ul {padding: 5px;}

li {
    display: inline-block;
    font-size: 18px;
    margin: 0 8px;
}

/*FOOTER
--------------------------------------------------------------*/


/*MARGINS
--------------------------------------------------------------*/
.marginBot {
    margin-bottom: 100px;
}

.marginTop {
    margin-top: 150px;
}

/*LINKS
--------------------------------------------------------------*/
a {
    font-weight: 400;
    text-decoration: none;
    color: black;
}

/*FORMS--------------------------------------------------------------*/
textarea {
    width: 100%;
    min-width: 150px;
    height: 150px;
}

/*MEDIA QUERIES
--------------------------------------------------------------*/
/* Mobile */
@media (max-width: 479px) {}
